Binaries
DerivedDataCache
Intermediate
Saved
Build

Content/Characters/Paragon/
Content/Characters/Echo/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace